.payment_module a.plugnpayss2 {
  background: #fbfbfb url("../../logo.png") 15px 12px no-repeat;
  background-size: 64px auto;
}

.payment_module a.plugnpayss2:after {
  color: #777;
  content: "\f054";
  display: block;
  font-family: "FontAwesome";
  font-size: 25px;
  height: 22px;
  margin-top: -11px;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 14px;
}

.plugnpayss2-redirect {
  margin: 1rem auto;
  max-width: 40rem;
  padding: 1rem;
}

.plugnpayss2-redirect h1 {
  font-size: 1.4rem;
}
